<form [formGroup]="phoneForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="phone">Phone Number: </label>
      <input
        type="text"
        class="form-control"
        id="phone"
        formControlName="phone"
        placeholder="1223*******"
        [class.is-invalid]="phone?.invalid && (phone?.dirty || phone?.touched)">
        <span class="location">BeiJing</span>
      <div class="invalid-feedback" *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">
        <div class="alert" *ngIf="phone?.errors?.['required']">*Phone number is required.</div>
        <div class="alert" *ngIf="phone?.errors?.['pattern']">*Phone number must be 11 digits and start with 1.</div>
      </div>
    </div>
  </form>

<label for="discount">Promotion:</label>
<select id="discount" [(ngModel)]="selectedType" (change)="onDiscountChange()">
    <option>None</option>
    <option>Discount - Mobile Store Recharge 9.0% Discount</option>
    <option>Discount - Mobile Store Recharge 8.0% Discount</option>
</select>
<span class="discount-tag">{{selectedType}}</span>

<div>
    <label>Recharge Amount(RMB):</label>
</div>
<div class="amount-options">
    <button type="button" class="amount-btn" (click)="setAmount(30)" >30</button>
    <button type="button" class="amount-btn" (click)="setAmount(50)">50</button>
    <button type="button" class="amount-btn" (click)="setAmount(100)">100</button>
    <button type="button" class="amount-btn" (click)="setAmount(300)">300</button>
    <button type="button" class="amount-btn" (click)="setAmount(500)">500</button>
    <input type="text" size="10" class="amount-input" placeholder="10-3000" [(ngModel)]="inputValue" (focus)="clearValue()" (blur)="checkValue()"/>
</div>

<div class="amount-summary">
    <p>Payment Amount: <span class="payment-amount">{{paymentAmount}} RMB</span></p>
    <p>Amount Received: <span class="received-amount">{{amountReceived}} RMB</span></p>
</div>


<button type="submit" class="submit-btn" (click)="navigateConfirmAndPay()" [disabled]="!phoneForm.valid" [ngClass]="{'invalid': !phoneForm.valid, 'valid': phoneForm.valid}" [ngClass]="{'invalid': !phoneForm.valid, 'valid': phoneForm.valid}">Start Recharge</button>